<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<style type="text/css">
${demo.css}
		</style>
		<script type="text/javascript">
$(function () {
    $('#container').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Monthly Average Rainfall'
        },
        subtitle: {
            text: 'Source: WorldClimate.com'
        },
        xAxis: {
            categories: [
                'Jan',
                'Feb',
                'Mar',
                'Apr',
                'May',
                'Jun',
                'Jul',
                'Aug',
                'Sep',
                'Oct',
                'Nov',
                'Dec'
            ],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Rainfall (mm)'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: 'Tokyo',
            data: [49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4]

        }, {
            name: 'New York',
            data: [83.6, 78.8, 98.5, 93.4, 106.0, 84.5, 105.0, 104.3, 91.2, 83.5, 106.6, 92.3]

        }, {
            name: 'London',
            data: [48.9, 38.8, 39.3, 41.4, 47.0, 48.3, 59.0, 59.6, 52.4, 65.2, 59.3, 51.2]

        }, {
            name: 'Berlin',
            data: [42.4, 33.2, 34.5, 39.7, 52.6, 75.5, 57.4, 60.4, 47.6, 39.1, 46.8, 51.1]

        }]
    });
});
		</script>



<h1>Listener statistics</h1>
<br>
<b>Name of last fm listener:</b>
<br>
<%= @name %>
<br>
<b>Start date to begin collecting the top songs listened to:</b>
<br>
<%= @startDate %><br>
<b>End date:
</b>
<br>
<%= @endDate %>
<br>
<hr>
<h2>Important Development notes:</h2>
<p>
		The presence of this page shows the successful implementation of an unbound form and that the information provided in the previous page is available for use (last fm listener name, start date, and end date).
</p>		
<p>
	With this information, the controller can use APIs to retrieve listening statistics and present it in a graphical form.
</p>	
	The two API's that are required to be used:
	<br>
	http://www.last.fm/api/show/user.getRecentTracks
	<br>
	http://www.highcharts.com
	<br>
	<br>
<b>Note</b> that instead of using calendar_date_select,  which I spent a lot of time trying to use in the Rails environment, I used jQuery's datepicker. Datepicker seems to be currently recommended by developers over the now older calendar_date_select. However if calendar_date_select is necessary, more investigation would need to be done to allow it to be included into the project. Currently my unresolved problem is that although the gem appeared to be installed correctly, calendar_date_select cannot be found.
	<br>
	<br>
	<b>Some things todo:</b>
	<br>
	<ul>
		<li>Validate valid input for listener name, and dates, before presenting this page</li>
		<li>Disallow datepicker to choose a date in the future</li>
		<li>include APIs getRecentTracks and highcharts to present the statistics</li>
		<li>use calendar_date_select in place of jQuery's datepicker</li>
	</ul> 
	<hr>

	
<h2>An example of the kind of charts available for use when this challenge is fully implemented:</h2>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<hr>


 
 
 



